@page
@model Covinator.Pages.PfizerVaccination
@{
    ViewData["Title"] = "Pfizer Vaccine";
    var pfizerVaccineDistributionAllocationss = (QuickType.PfizerVaccineDistributionAllocations[])ViewData["PfizerVaccineDistributionAllocations"];
    var currentWeek = ViewData["CurrentWeek"];
}

<div class="text-center">
    <h1>Pfizer Vaccine Allocations for the week: @currentWeek</h1>

    <form method="post">

        <select name="jurisdiction" required class="dropdown1">
            <option value="0">Select a State</option>
            @foreach (var jurisdiction in Model.JurisdictionsList)
            {
                <option value="@jurisdiction">@jurisdiction</option>
            }
        </select>
        <input type="submit" value="Details by State" name="Get Details" class="button1">
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Jurisdiction</th>
                <th>Week of allocations</th>
                <th>1st dose allocations</th>
                <th>2nd dose allocations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (QuickType.PfizerVaccineDistributionAllocations pfizerVaccineDistributionAllocations in pfizerVaccineDistributionAllocationss)
            {
                <tr>
                    <td>@pfizerVaccineDistributionAllocations.Jurisdiction </td>
                    <td>@pfizerVaccineDistributionAllocations.WeekOfAllocations  </td>
                    <td>@pfizerVaccineDistributionAllocations.The1StDoseAllocations </td>
                    <td>@pfizerVaccineDistributionAllocations.The2NdDoseAllocations </td>
                </tr>
            }
        </tbody>
    </table>
</div>