@page
@model Covinator.Pages.UsCaseDeathsModel
@{
    ViewData["Title"] = "US Death Cases";
    var casesDeathss = (QuickType.CasesDeaths[])ViewData["CasesDeaths"];
}

<div class="text-center">
    <h1>US: COVID Cases and Deaths information </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Submission Date</th>
                <th>State</th>
                <th>New Cases</th>
                <th>Total Cases</th>
                <th>New Deaths</th>
                <th>Total Deaths</th>
            </tr>
        </thead>
        <tbody>
            @foreach (QuickType.CasesDeaths caseDeaths in casesDeathss)
            {
                <tr>
                    <td>@caseDeaths.SubmissionDate</td>
                    <td>@caseDeaths.State</td>
                    <td>@caseDeaths.NewCase</td>
                    <td>@caseDeaths.TotCases</td>
                    <td>@caseDeaths.NewDeath</td>
                    <td>@caseDeaths.TotDeath</td>
                </tr>
            }
        </tbody>
    </table>
</div>